@import '../../styles/color';



  .navbar{
    //background-color: rgba(0, 0, 0, 0.34);
    padding: 0 5%;
  }


  .logo{
    padding-bottom: 50%;

  }

  .logo_width{
    padding: 10px 0;
    width: 150px;
    display: inline-block;

    img{
      width: 100%;
    }

  }

  .navLinks{

    margin-left: auto;
    display: flex;

    a{
      margin-left: 40px;
      font-size: 16px;
      color: black;

    }

  }

  .navLinks_active{
    color: #e38b45 !important;
  }

  .nav_abs{
    background-color: white;
    z-index: 4;

  }



@media only screen and (max-width: 768px) {
    .navLinks{
      display: none !important;
    }

  .logo_width{
    margin: auto;
    width: 110px;
  }

}














